@using MudBlazor

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Home
    </MudNavLink>
    <MudNavLink Href="/videos" Icon="@Icons.Material.Filled.VideoLibrary">
        Videos
    </MudNavLink>
    <MudNavLink Href="/downloads" Icon="@Icons.Material.Filled.CloudDownload">
        Downloads
    </MudNavLink>
    <MudNavGroup Title="Manage" Icon="@Icons.Material.Filled.Folder" Expanded="false">
        <MudNavLink Href="/collections" Icon="@Icons.Material.Filled.Collections">
            Collections
        </MudNavLink>
        <MudNavLink Href="/genres" Icon="@Icons.Material.Filled.Category">
            Genres
        </MudNavLink>
        <MudNavLink Href="/tags" Icon="@Icons.Material.Filled.Label">
            Tags
        </MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/settings" Icon="@Icons.Material.Filled.Settings">
        Settings
    </MudNavLink>
    <MudNavLink Href="/about" Icon="@Icons.Material.Filled.Info">
        About
    </MudNavLink>
</MudNavMenu>

<MudSpacer />

<div class="mud-nav-menu pa-2">
    <MudText Typo="Typo.caption" Align="Align.Center">
        VideoJockey v1.0
    </MudText>
</div>
